#contact_big_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 10vw 0 10vw;
}

#contact_info_container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
}

.contact_info_sub {
    display: flex;
    flex-direction: column;
}

.form_label_input {
    display: flex;
    flex-direction: column;
    margin: 0 0.5vw 1vh 0.5vw;
}

#contact_form_container {
    display: flex;
    flex: 3;
    flex-direction: column;
    margin: 0 5vw 0;
}

#contact_name_email_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#contact_name {
    flex: 1;
}

#contact_email {
    flex: 1;
}

input[id=name], input[id=email] {
    width: 100%;
    padding: 1vh 1vw;
    box-sizing: border-box;
}

input[id=subject] {
    width: 100%;
    padding: 1vh 1vw;
    box-sizing: border-box;
}

textarea {
    padding: 1vh 1vw;
    box-sizing: border-box;
    font-family: 'FiraGO', sans-serif;
}

#send_message_btn {
    padding: 0.75vw;
    overflow:auto;
}

/* MOBILE */

@media only screen and (max-width: 600px) {
    /* #contact_big_container {
        margin: 0;
    }
    .contact_info_sub {
        overflow-wrap: break-word;
        word-break: break-all;
    } */
    #contact_big_container {
        margin: 0;
        flex-direction: column;
    }
}