hr {
    width: 95%;
    margin: 2vh auto 2vh auto;
}

#about_me {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-size: 1.2em;
}

#image_description {
    display: flex;
    flex: 6;
    align-items: center;
    text-align: left;
}

#personal_photo {
    flex: 1;
    width: 60%;
    height: auto;
    margin-left: 1vw;
}

.project_link {
    padding: 1vw;
    margin: 0.5vh 0.5vw 0.5vh 0.5vw;
    /* background-color: red; */
    border-radius: .5vw;
    border-color: var(--text-color);
    /* background: blue; */
    /* background: none; */
}

.project_description_container {
    display: flex;
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-align: left;
}

.project_description {
    flex: 3;
}

.project_description > ul > li > ul {
    padding-left: 1em;
}

.project_preview {
    flex: 2;
}

.project_preview > img {
    width: 100%;
    height: auto;
}

/* MOBILE */

@media only screen and (max-width: 600px) {
    #about_me {
        display: inline-block;
        text-align: left;
    }
    #image_description {
        font-size: smaller;
        display: inline;
    }
    #personal_photo {
        max-width: 30vw;
        max-height: 30vw;
        float: right;
    }
    .project_container {
        display: inline-block;
    }
    .project_description > ul {
        list-style-position: inside;
    }
}
