/* .navBar {
    display: flex;
    flex-direction: row;
    background-color: red;
    flex-grow: 1;
    width: 100%;
} */

/* #nav_name {
    color: red;
} */

#nav_bar_container {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    border-bottom: solid black;
}

@media (prefers-color-scheme: dark) {
    #nav_bar_container {
        border-bottom: solid white;
    }
}

#nav_bar_left {
    display: flex;
    flex: 1;
    padding: 1vw 3vw 1vw;
}

#nav_bar_left > a {
    /* color: black; */
    font-size: 1.5em;
}

#nav_bar_right {
    display: flex;
    margin: 0 1vw 0 0;
}

#nav_bar_right > ul {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-self: center;
}

#nav_bar_right > ul > li {
    list-style-type: none;
    padding: 1vw 2vw 1vw;
}

#nav_bar_right > ul > li > a {
    
    /* color: black; */
    transition: color .2s;
}

#nav_bar_right > ul > li > a:hover {
    /* filter: brightness(40%) */
    color: #996;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}